name: CD

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: connect to server and deploy changes
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: 22
          script: |
            cd techdilnoza-frontend/
            git stash
            git pull origin main --rebase

            # Copy updated frontend to nginx directory
            sudo cp -r /root/techdilnoza-frontend/* /var/www/techdilnoza-frontend/
            sudo chown -R www-data:www-data /var/www/techdilnoza-frontend

            # Reload nginx
            sudo systemctl reload nginx
